@import url("./normalize.css");
@import url('./header.css');
@import url('./broker-value.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');


:root{
    --index: calc(1vw+1vh);
    --font-index : calc((100vw - 320px) / (1024 - 320));
    --main-text-color: #29374E;
    --secondary-text-color: #000000;
    --main-white-color: #FFFFFF;
    --main-blue-color: #0962E8;
    --light-blue-color: #EFF9FF;
    --secondary-light-blue-color:#E9F6FF;;
    --secondary-blue-color: #CBECFF;
    --main-font: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

html{
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

body{
   
    width: 100%;
}

/* main styling */

.container{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}


.h2-accent{
    color: var(--main-blue-color);
}

.key-products-sig{
    font-style: normal ;
    font-weight: 500 ;
    font-size: calc(30px + 4 * var(--font-index));
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: calc(4*var(--index));
}

.keys-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;  
}

.key-text-header {
    font-weight: 600;
    font-size: calc(17px + 2 * var(--font-index));
    line-height: 140%;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
}

.key-text p{
    font-size: calc(12px + 2 * var(--font-index));
}

.key{
    max-width: 100%;
    background-color: var(--secondary-light-blue-color);
    border-radius: 30px;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(2, 1fr);
    padding: 37px 20px 0 20px;
}

.key-img{  
    width: auto;
    max-height: 291px;
    filter: drop-shadow(8px -8px 16px rgba(0, 0, 0, 0.06));
    border-radius: 20px 20px 0px 0px;
    justify-self: end;
    
}
@media screen and (min-width: 1025px) {
    html{
        padding:0 60px;
    }

    .key-products-sig{
        padding: 0 10vw !important;
    }

    .key-text-header{
        font-size: 17px !important;
    }

    .key-text p{
        font-size: 12px !important;
    }

    .keys-container{
        gap: 20px;
    }

    .container{
        margin: 0 20px;
    }
    
}
/* phones */

@media screen and (max-width: 885px) {
    .keys-container{
        display: flex;
        flex-direction: column;
    }

    .key-products-sig{
        margin-top: 20px;
        font-size: 24px !important;
    }
    
    .key-img{
        max-height: 250px;
        justify-self: center;
    }

    .broker-block{
        margin-top: 1vh;
        text-align: left;
    }

}

@media screen and (max-width: 600px) {
    .key-img{
        max-height: 200px;
    }
}

@media screen and (max-width: 400px) {
    .key-img{
        max-height: 150px;
    }
}
 

