@import url("./normalize.css");
@import url("./main.css");
@import url('./header.css');
@import url('./broker-value.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');


:root{
    --index: calc(1vw+1vh);
    --font-index : calc((100vw - 320px) / (1024 - 320));
    --main-text-color: #29374E;
    --secondary-text-color: #000000;
    --main-white-color: #FFFFFF;
    --main-blue-color: #0962E8;
    --light-blue-color: #EFF9FF;
    --secondary-light-blue-color:#E9F6FF;;
    --secondary-blue-color: #CBECFF;
    --main-font: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

html{
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

body{
   
    width: 100%;
}

@media screen and (min-width: 1025px) {
    html{
        padding:0 60px;
    }
}