
.icon-graph:before { content: '\e800'; } /* '' */
.icon-activity:before { content: '\e801'; } /* '' */
.icon-filter:before { content: '\e802'; } /* '' */
.icon-setting:before { content: '\e803'; } /* '' */
.icon-face:before { content: '\e804'; } /* '' */
.icon-people:before { content: '\e805'; } /* '' */
.icon-connection:before { content: '\e806'; } /* '' */
.icon-database:before { content: '\e807'; } /* '' */
